

header{
    /* background-color: #000055; */
    height: 100px;
}

aside{
    /* background-color: #005500; */
    height: 100%;
}

main{
    /* background-color: #550000; */
    height: 100%;
}

footer{
    /* background-color: #808000; */
    height: 100px;
}
